.todoItem {
    display: flex;
    height: 50px;
    margin: auto auto;
    width: 75%;
}

.itemName {
    width: 100%;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
} 

.itemName p {
    margin: auto 0;
}

.achieved {
    font-style: italic;
    text-decoration: line-through;
}

.deleteIcon {
    margin: auto 0;
}
