.container {
    background-color: #76A1A7;
    height: 100vh;
    display: flex;
    color: #107980;
}

.todoList {
    margin: auto auto;
    max-width: 500px;
    width: 75%;
    height: 90%;
    border-radius: var(--border-radius);
    background-color: white;
}

.head {
    text-align: center;
    margin: 20px;
}

.headFirst  {
    display: flex;
}

.listName {
    width: 60%;
}

.items {
    max-height: 60%;
    overflow-y: auto;
}

.headButtonItem {
    margin: auto auto;
    width: 20%
}

.buttonItem {
    margin: auto auto;
}

.head h1 {
    font-size: 20px;
}

.head h2 {
    font-size: 15px;
}

.listName,
.listDescription {
    display: flex;
    flex-direction: column;
    height: 50px} 

.listName h1,
.head h2 {
    margin: auto 0;
}

.nameInput,
.descriptionInput {
    margin: auto 0;
    text-align: center;
}

.addArea {
    display: flex;
}

.addInput {
    width: 80%
}